@import 'base/normalize';
@import 'abstracts/variables';
@import 'layout';

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
  width: 100%;
  input[type='button'] {
    cursor: pointer;
  }
  input[disabled] {
    cursor: default;
  }
  min-width: 320px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "AzbokaFont", "Verdana", "Arial", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 1.875rem;
  background-color: #192A47;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../images/back@2x.jpg');
}

canvas {
  width: 100%;
}

.startscreen {
  width: 100%;
  height: 100%;
  padding: 6vh 0;
}

.resultscreen {
  width: 100%;
  height: 100%;
  padding: 3vh 0 1.5vh;
}

.container {
  max-width: 816px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 1921px) {
    max-width: unset;
  }
}

.back {
  position: fixed;
  z-index: -1;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.logo {
  display: block;
  width: 35rem;
  text-align: center;
  & img {
    max-width: 25vw;
    @media (max-width: $mediaMobile) {
      max-width: 40vw;
    }
    @media (min-width: 1921px) {
      width: 350px;
    }
  }
}

.header {
  margin: 0;
  margin-top: 4.5vh;
  max-width: 50vw;
  font-size: 7vh;
  font-weight: normal;
  line-height: 110%;
  @media (max-width: $mediaTablet) {
    max-width: 80vw;
  }
  @media (max-width: $mediaMobile) {
    max-width: 90vw;
    font-size: 5vh;
  }
  @media (min-width: 1921px) {
    max-width: unset;
    // margin-top: 48px;
    // font-size: 70px;
  }
}

.result-header {
  margin-top: 2.5vh;
}

.description {
  margin-top: 3.7vh;
  margin-bottom: 5vh;
  max-width: 48vw;
  max-width: 600px;
  font-weight: normal;
  font-size: 3vh;
  line-height: 1.2;
  @media (max-width: $mediaDesktop) {
    max-width: 60vw;
  }
  @media (max-width: $mediaTablet) {
    max-width: 80vw;
  }
  @media (max-width: $mediaMobile) {
    max-width: 90vw;
    font-size: 1.6rem;
  }
  @media (min-width: 1921px) {
    max-width: 48vw;
  }
}

.result-description {
  line-height: 120%;
}

.button-block {
  position: relative;
  z-index: 10;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7vmin;
  max-width: 50vw;
  // min-height: 420px;
  text-align: center;
  background: #124F2E;;
  border-radius: 50px;
  border: 5px solid #5ACD37;
  @media (max-width: $mediaDesktop) {
    max-width: 60vw;
  }
  @media (max-width: $mediaTablet) {
    max-width: 80vw;
  }
  @media (max-width: $mediaMobile) {
    max-width: 90vw;
  }
  // @media (min-width: 1921px) {
  //   max-width: 816px;
  // }
  .start-btn {
    margin-top: 3vh;
    // text-transform: uppercase;
  }
  &__back {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // left: 50%;
    // transform: translateX(-50%);
    img {
      width: 100%;
    }
    overflow: hidden;
  }
}



.result-block {
  padding: 3vmin;
  margin-bottom: 2vh;

  .game-desc {
    margin-bottom: 3vh;
  }

  // min-width: 750px;
  @media (max-width: $mediaDesktop) {
    min-width: auto;
  }
}

.game-desc {
  position: relative;
  z-index: 100;
  max-width: 40vw;
  font-size: 3vh;
  line-height: 1.2;
  margin-bottom: 3vh;
  @media (max-width: $mediaDesktop) {
    max-width: 60vw;
  }
  @media (max-width: $mediaTablet) {
    max-width: 80vw;
  }
  @media (max-width: $mediaMobile) {
    max-width: 90vw;
    font-size: 1.6rem;
  }
  @media (min-width: 1921px) {
    // width: 70%;
    font-size: 3vh;
    // font-size: 30px;
    // margin-bottom: 50px;
  }
}

.prize {
  display: block;
  margin-bottom: 1vh;
}

.result-desc {
  margin-top: 2vh;
  font-size: 2.5vh;
  color: rgba(116, 192, 81, 1);
}

.small-text {
  position: relative;
  z-index: 100;
  width: 85%;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 130%;
  text-align: center;
  color: #B2B7AC;
}

.link {
  text-decoration: none;
  color: #63C635;
}

.text-link {
  color: inherit;
  text-decoration: underline;
}

.btn {
  position: relative;
  z-index: 100;
  padding: 24px 5vw 30px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  height: 8vh;
  max-width: 320px;
  border: none;
  border-radius: 5px;
  background-color: #7ECC2A;
  text-decoration: none;
  font-weight: 700;
  font-size: 2.7vh;
  line-height: 1;
  color: white;
  transition: background-color 300ms ease-in-out;
  &:hover {
    background-color: #80F14B;
    color: #114B2C;
  } 
  &:focus {
    background-color: #289E00;
    color: white;
  }
  &:active {
    background-color: #289E00;
    color: white;
  }
  @media (max-width: $mediaMobile) {
    max-width: 70vw;
  }
  @media (min-width: 1921px) {
    width: unset;   
  }
}

.underline {
  text-decoration: underline;
}

.buttons-result {
  margin-bottom: 3vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .btn {
    width: 320px;
    &:first-child {
      margin-right: 20px;
    }
    @media (min-width: 1921px) {
      min-width: 320px;
      width: auto;
    }
  }

  @media (max-width: $mediaDesktop) {
    .btn {
      &:first-child {
        margin-right: 0;
      }
    }
    flex-direction: column;
    align-items: center;
  }
  @media (max-width: $mediaMobile) {
    .btn {
      width: 90%;
    }
  }
}

.btn-transparent {
  max-width: 48%;
  background-color: transparent;
  border: 4px solid white;
  color: white;
  height: 87px;
  transition: border-color 300ms ease-in-out, color 300ms ease-in-out;
  &:hover {
    border-color: #80F14B;
    color: #80F14B;
    background-color: transparent;
  }
  &:focus, &:active {
    border-color: #289E00;
    color: #289E00;
    background-color: transparent;
  }
  @media (max-width: $mediaDesktop) {
    max-width: unset;
    width: 80%;
    min-width: unset;
  }
  @media (min-width: 1921px) {
    height: 120px;
  }
}

.btn-coupon {
  max-width: 48%;
  position: relative;
  height: 87px;
  background-color: transparent;
  .back {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &:hover, &:focus, &:active {
    background-color: transparent;
  }
  @media (max-width: $mediaDesktop) {
    margin-bottom: 2vh;
    width: 80%;
    max-width: unset;
  }
  @media (min-width: 1921px) {
    height: 120px;    
  }
}

.coupon {
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 100%;
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 2.5vh;
  line-height: 1;
  text-transform: uppercase;
  color: white;
  background-color: #50A42A;
  min-width: 200px;
  height: 65px;
  // padding: 15px 70px;
  border-radius: 5px;
  border: 2px dashed white;
  // max-width: 80%;
  @media (max-width: 1200px) {
    // padding: 15px 60px;
  }
  @media (min-width: 1921px) {
    padding: 15px;
    width: auto;
  }
}